name: Auto Update Configs

on:
  schedule:
    - cron: '0 */6 * * *' # اجرای خودکار هر ۶ ساعت
  workflow_dispatch: # اجازه اجرای دستی برای تست

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Run Script
        run: python main.py

      - name: Save and Upload Changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "actions@github.com"
          git add sub_link.txt
          git commit -m "Configs updated: $(date)" || exit 0
          git push
